<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
     <table>
         <tr>
             <th colspan="2">Actual</th>
         </tr>
         <tr>
             <th>Matrix</th>
             <th>T</th>
             <th>F</th>
         </tr>
         <th rowspan="2" aria-orientation="horizontal">Predicted</th>
         <tr>
             <th>T</th>
             <td>32</td>
             <td>32</td>
         </tr>
         <tr>
             <th>F</th>
             <td>32</td>
             <td>32</td>
         </tr>
     </table>
<h3 ore>HIHIIIIIIIIIIIII</h3>
</body>
</html>